<h1>Welcome to <%= @crm_app_name %></h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/contacts/new">Add a New Contact</a></li>
</ul>

<h1>All Contacts</h1>
<ul>
	<% $rolodex.contacts.each do |contact| %>
		<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li>
	<% end %>
</ul>